<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>

</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<h2>login</h2>
<form action="/member/login" method="post">
    <input type="hidden" name="redirectURI" th:value="${redirectURI}">
    <input type="text" id="email" placeholder="email" name="memberEmail"> <br>
    <input type="password" id="password" placeholder="password" name="memberPassword"> <br>
    <p id="login-result" style="color: red; display: none">
        이메일 또는 비밀번호가 틀립니다.
    </p>
    <input type="submit" placeholder="로그인하기" onclick="login()" value="로그인"> <br>
</form>
<div>
    <ul>
        <li>
            <!-- 아래와같이 아이디를 꼭 써준다. -->
            <a id="naverIdLogin_loginButton" href="javascript:void(0)">
                <span>네이버 로그인</span>
            </a>
        </li>
        <li onclick="naverLogout(); return false;">
            <a href="javascript:void(0)">
                <span>네이버 로그아웃</span>
            </a>
        </li>
    </ul>
</div>

<div th:replace="component/footer :: footer">
</div>
</body>
<script>
    const login = () => {
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.querySelector('input[name="memberPassword"]').value;
        console.log(email);
        console.log(password);
        axios({
            method: "post",
            url: "/member/login/axios",
            data: {
                memberEmail: email,
                memberPassword: password
            }
        }).then(res => {
            console.log("res", res);
            location.href = "/member/mypage";
        }).catch(err => {
            console.log("err", err);
            document.getElementById("login-result").style.display = "block";
        });

    }
    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "bN10SnsLShMawQVIXbyj", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
            callbackUrl: "http://localhost:8181/memberMain", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
            isPopup: false,
            callbackHandle: true
        }
    );

    naverLogin.init();

    window.addEventListener('load', function () {
        naverLogin.getLoginStatus(function (status) {
            if (status) {
                var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.

                console.log(naverLogin.user);

                if (email == undefined || email == null) {
                    alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
                    naverLogin.reprompt();
                    return;
                }
            } else {
                console.log("callback 처리에 실패하였습니다.");
            }
        });
    });


    var testPopUp;

    function openPopUp() {
        testPopUp = window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
    }

    function closePopUp() {
        testPopUp.close();
    }

    function naverLogout() {
        openPopUp();
        setTimeout(function () {
            closePopUp();
        }, 1000);


    }
</script>
</html>