<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<h2>update.html</h2>
<form class="form-control" action="/member/update" method="post">
    <input type="text" th:value="${member.id}" name="id" readonly>
    <label for="memberEmail">
        이메일
        <input type="text" id="memberEmail" th:value="${member.memberEmail}" name="memberEmail">
    </label>
    <br>
    <label for="memberPassword">
        비밀번호
        <input type="text" id="memberPassword" th:value="${member.memberPassword}" name="memberPassword">
    </label>
    <br>
    <label for="memberName">
        이름
        <input type="text" id="memberName" th:value="${member.memberName}" name="memberName">
    </label>
    <br>
    <label for="memberBirth">
        생일
        <input type="text" id="memberBirth" th:value="${member.memberBirth}" name="memberBirth">
    </label>
    <br>
    <label for="memberMobile">
        전화번호
        <input id="memberMobile" type="text" th:value="${member.memberMobile}" name="memberMobile">
    </label>
    <input type="button" th:onclick="update([[${member.id}]])" value="수정">
</form>
<div th:replace="component/footer :: footer"></div>
<script>
    const update = (id) => {
        const memberEmail = document.querySelector("#memberEmail").value;
        const memberPassword = document.querySelector("#memberPassword").value;
        const memberName = document.querySelector("#memberName").value;
        const memberBirth = document.querySelector("#memberBirth").value;
        const memberMobile = document.querySelector("#memberMobile").value;
        console.log("console: " + memberEmail);
        axios({
            method: "post",
            url: "/member/update",
            data: {
                id: id,
                memberEmail: memberEmail,
                memberPassword: memberPassword,
                memberName: memberName,
                memberBirth: memberBirth,
                memberMobile: memberMobile
            }
        }).then(res => {
            console.log("수정성공");
            location.href = "/member/list";
        }).catch(res => {
            console.log("수정실패");
        })
    }
</script>
</body>
</html>